language: java
jdk:
- oraclejdk8
env:
  global:
  - ACTIVATOR_VERSION=1.3.7
  - ACTIVATOR_ZIP_FILE=typesafe-activator-${ACTIVATOR_VERSION}-minimal.zip
  - ACTIVATOR_ZIP_URL=http://downloads.typesafe.com/typesafe-activator/${ACTIVATOR_VERSION}/${ACTIVATOR_ZIP_FILE}
  - PLAY2_HOME=${TRAVIS_BUILD_DIR}/activator-${ACTIVATOR_VERSION}-minimal
  - SBT_EXECUTABLE_NAME=activator
  - GH_REF=github.com/theAgileFactory/jira-plugin-api
  - secure: kInm132ULEecZ+E9hgHiyZfuAEIGTL/mZH3h8dsB4VB/L/6x1Q+p92vOb1/uUfpGnh1hC7EcKH4V3EXdMnMUfsW7qybfMEmYolZyjQfvunpneG2sS4MLAEuK2314CL+M+fqPtboPyJjALIbKH+hePd+pjs8D44bTB0jzcMF5TFAeaOjvZOhyerG2KCUSn1vKJiiG7SFC+mr1tSBdWFA2du1xxyRw8eTpCNBORUF3nvw3fNIMKiOcYJ9jSeVxqUfoqhPf6J4G5BOQm+TBS5TRFltWpvovb3oVvMAEUceIyFoNtMfqM7taJfMYdDiZtLI/zsCeErhJYnOlHgt91ZCl3rtYUfLnYFrJJxgf2ER+tc5hOOdqKmwbb2cBYLS/xiYjIcyWhlPpwPNKZ8eSO8196UxkLcf1XY6FAVW4jCZ2iPwJFTubKX1rSvnfD4/WdrWcyFy6ok+KJFET7aAbjF2UNYGPSovLjYC6s+7+LzlAgknTre1RZYI1eLqKQ7cm4/3hzEQczWgqimnfpjf/cQtqvn8DfYsoUOfVRFJiO6VhP7B9mpZNdpIgmGrT/78Jo6lf8J230q+G2Zn/AoKymPtfRrLS2a1o4vDP1Hzn/UilwgkzpaQ43vTqiRQjHPUmxRpzrKzDKb4ve+S29behra2S7drVATvC2nkJIImu8sL6Oas=
  - secure: EicmaoyoSI/34bHs5bKHfwW9a8koY5PwBqF0r+Z8h5FMDm30r6SRTBshm4i3qH0KPTcPxpR5Mtyx/hhX9f3n85OaXRys10/JZRbddybIVLURpazGzl5Co63vKIkv/jbQQHr3UUV4VIxYARpzMzWVk1bCeg8RTg0QIutrSLCpM0H9klceVpS8XVz7ySlmNJFboPnNmt3Up95I5jo5I+ITL0ncc7HmUOehYaGbG9TT890IrqcEoCgn+5DjmVN4wKAxxDU1LPl+/NFIMJMROdKn4KQA98xxpQjSc+mLavyoXmry5yXSmQMTsUuG8baNJ8L6D4vGvr8+6hhPABpFyaQU6FICpizuJVC9F2NdgVaRAgsNVRTHk3Dpv6FF5k3YJjJAcaYdUe1wmX4m5IS2cRSMwTHqAzXLAm8XfZHfWIBupbeHCB7ygOPiVLr6JVIQ2FtnB9H0OM5Z8S1Pa/JMT8DrSKeXS/k6ZIMt/J8IK9Dhbx+MAwg37ai3O9ORmgQgHs8lF593JqUpEDxyih0inWcu7SZjpnvOodj2mFLivHB0rQawdiIwFS09n4DCmIcoz2gzTfE96sKopK2EoCC9l8F1Fjsr0JYjUMvntfqLdVP3f7YkqomGs/E0FxAUYDPJlMqZPPWmgm6wFO9C3dnixTftUeyfVfN+0kJvTOlhbnuQohY=
  - secure: CzfV88KudXdEXTGfg75kzRWnHLq5YrB/0bF4itP/4k6pCQx7XIBTYbCzVEN/UmE0nIrvn/iP9/tG3QPvy0wYqnaXZVOtyhuXqLS7Aa78Hq+a5go+HtV2YTp/XWATAT75cg9reX9vxcuD8v1v1DN6UJQmM37SfKW4dQilxViXmsLrZsYt0klcUfVNmLkR7IFFZJLQbGKkAEXw9pgZOsDCY0a7v4QiDCG0iGcY/QKw+X3oNYWwamfskDP3AFUGGrN+r3Z4HkdeO8YhDzCvld2nGyWRSr4BHVLKoILHg47u4X9mgf6hTQs6yRCflkH/YPhuay2z4X8Bp/aBWDHVMS3Qe4YghTUbKSWJzwCfSnw/vbkr4sWTKp5Sqe9lHMgJtRJ1pnm0AZE3kiqTe7pdLb1uOW7m1HaJ1lqwGrLLurW2RlPhc6PCc1g8579MUqb3amjQ3pwqlhiexYIItGA/eQl9wy0NxbwXn7DVCQXmelzMwAWIT5CDe5SHxBO4D+ljxMbim+x0lw7UcqQ5HH6E+lbGCyauvijzGH2aj4xP0c1OnYVIK1VAVGkhhcskEDm1jzGm7bPm8cIbFYKx19KxyBC0QN53PMlipvmV78TSt/hdhgbfSnJNTrqoZC/fZolvBjarvKvdciIAWtrZW5riJRpHWcApCVV1t8+YzrWHSmtbDdA=
  - secure: FwoggXWanESBoxbNo5mlPp1zq4+ljzUnQOTuK7hR6MHUAInBLZOFRl8AvnBvJHtw0LRNGOrf9+OL1CbgsiFZq18bVQ/ejFsscqOTb1hCojACLa314DRhbd+rAiP/6oMrtMfPPmT3NyxhWLNKtvs4knxxq+Mzpe2xUHBOpWPjost3xZcV+llmPEaT2qTrEWDvp8z2DVqF4vbYAlR17tQeCh9ghQpM7lBAsv9ImpXtKIw1/PGYcM+PWl/45SXvBzcAHQO9LsC55+UeuKRSY3YHcT+Pi1+2ywW4vnASBgcjO5CM8MEmZtQgPmmU+lcg7REjCryc2SR/Uxp8teD9YxDJQEOxz9DcgZcf3Jbl6T0mr+Fwjh1no9yw/6jdealXSb1mx5DVa/52vtEHqXLK9DB0u7jVJjY0LdUr8zK8BtNREWF+KkDrKZcTN5n+I1UOzqkvbItjDJ+BYglfpmegRvSIDMwLHQzqwbvANMKeAvhWJdKGlf1hjJSjKKhAsEkOAkHbr24RtICNiMdetrzevCQAgs7KB5+MmJCzkqwPAwJeZ8cCYQXvnIXvi4GYVytCsZw4t4fkwYNHoYy7UfU20rPy/Id0cl683aD2Jusv0BEVcYiC5j0rg8MGaNhiXvLOu8GuRthUd1NBiv5zWgoRST4ERe/uBt97M+T5xcPUdOaRYDg=
before_install:
- sudo apt-get update
- sudo apt-get install --only-upgrade -y oracle-java8-installer
- mkdir -p ~/.gnupg
- openssl aes-256-cbc -pass pass:$ENCRYPTION_PASSWORD -in secring.gpg.enc -out ~/.gnupg/secring.gpg
  -d
- openssl aes-256-cbc -pass pass:$ENCRYPTION_PASSWORD -in pubring.gpg.enc -out ~/.gnupg/pubring.gpg
  -d
- echo "<settings><servers><server><id>ossrh</id><username>\${OSSRH_JIRA_USERNAME}</username><password>\${OSSRH_JIRA_PASSWORD}</password></server></servers></settings>"
  > ~/.m2/settings.xml
install:
- wget ${ACTIVATOR_ZIP_URL}
- unzip -q ${ACTIVATOR_ZIP_FILE}
script:
- mvn -f pom2.xml clean install gpg:sign -Dgpg.passphrase="${GPG_PASSPHRASE}" --settings
  ~/.m2/settings.xml
after_script:
- rm ~/.gnupg/secring.gpg
- rm ~/.gnupg/pubring.gpg
- rm ~/.m2/settings.xml
notifications:
  email: true
branches:
  only:
  - master
scala:
- 2.11.8
cache:
  directories:
  - .autoconf
  - ~/.m2
  - ~/.sbt
  - ~/.ivy
